In [2]:
import pandas as pd
import numpy as np
#Load the data
df = pd.read_csv('CSGO Player Dataset.csv')
#View the data
df.head()

,Name,Teams Played In,Number of Maps Played,Number of Rounds Played,Kill Death Difference,K/D Ratio,HLTV Rating
0,ZywOo,"'Vitality', 'aAa'",985,25890,5999,1.38,1.27
1,s1mple,'Natus Vincere',1544,40788,8916,1.34,1.25
2,sh1ro,"'Gambit Youngsters', 'Gambit'",853,22639,5372,1.45,1.22
3,deko,'1WIN',382,10313,2270,1.38,1.22
4,saffee,"'FURIA', 'paiN'",374,9873,1936,1.32,1.21